// Variables
$desktop-width: 1200px;

$red: rgb(212,15,65);
$orange: rgb(247, 148, 0);
$gray: #696969;
$lightgray: #dbdada;
$lightred: red;
$blue: #005EB8;
$darkblue: #0053a0;
$box-shadow: 0 0 4px 0 rgba(0,0,0,.6);
$accent-color: #e4d7c9;

$notMobile: "screen and (min-width: " + $desktop-width + ") and (min-aspect-ratio: 13/10)";